<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
  <div class="md-toolbar-tools docs-toolbar-tools" tabindex="-1">
    <div layout="row" flex class="fill-height layout-row">
      <h2 class="md-toolbar-item md-breadcrumb md-headline">
        <span class="md-breadcrumb-page">{{$ctrl.chat.name}}</span>
      </h2>
      <span flex></span>
    </div>
  </div>
</md-toolbar>

<md-content md-scroll-y="" layout="column" flex class="layout-column md-padding">
  <h1>historico do chat</h1>

  <div flex-xs layout="column">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">Debug</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <pre>{{$ctrl.chat|json}}</pre>
      </md-card-content>
    </md-card>
  </div>

</md-content>


<md-content flex="none" layout="row" id="footer">
  <div flex="none">

  </div>
  <div flex>
    <md-input-container md-no-float class="md-block">
      <input ng-model="user.address2" placeholder="Type your message" autofocus>
    </md-input-container>
  </div>
  <div flex="none">
    <md-button class="md-fab md-primary" aria-label="Use Android">
      <md-icon md-svg-src="assets/icons/send.svg"></md-icon>
    </md-button>
  </div>
</md-content>
