<div layout="row" layout-fill flex ng-cloak class="fill-height">
  <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" hide-print md-is-locked-open="$mdMedia('gt-sm')" tabindex="-1">
    <md-toolbar>
     <div class="md-toolbar-tools">
       <h1 >
         <a ui-sref="app.home">Company Name</a>
       </h1>
       <span flex></span>
        <md-button class="md-icon-button" aria-label="More">
          <md-icon md-svg-icon="assets/icons/more.svg"></md-icon>
        </md-button>
     </div>
    </md-toolbar>
    <md-content>
      <md-list flex>
        <md-list-item class="md-2-line" ng-repeat="user in main.users" ng-click="main.chat(user)">
          <img gravatar-src="user.email" class="md-avatar" />
          <div class="md-list-item-text">
            <h3>{{user.name}}</h3>
            <p>@{{user.mention}}</p>
          </div>
        </md-list-item>
      </md-list>
    </md-content>
  </md-sidenav>

  <div layout="column" tabindex="-1" role="main" flex ui-view>
  </div>
</div>
